<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h1>这里是angular router导航的展示页面</h1>
    <p>下面的区域将演示不同组件的加载</p>
    <p>点击不同按钮，路由将加载不同组件</p>
    <p>
  <!-- '/'导航到根路由 -->
      <a [routerLink]="['/home']" class="btn-router">主页</a>
      <a [routerLink]="['/contact']" class="btn-router">联系</a>
  <!-- 在查询参数中传递数据 -->
      <a [routerLink]="['/about']" [queryParams]="{id: 1}" class="btn-router">在查询参数中传递数据</a>
  <!-- 在url中传递参数 -->
      <a [routerLink]="['/product',2]" class="btn-router">在url中传递参数</a>

  <!-- 利用Router对象来导航到商品详情页 -->
      <input type="button" class="btn-input" value="利用Router对象来导航" (click)="toProductDetails()" />
    </p>
    <hr />

    <a [routerLink]="[{outlets: {aux: 'talk'}}]">开始聊天</a>
    <a [routerLink]="[{outlets:{aux: null}}]">结束聊天</a>

    <router-outlet></router-outlet>
    <div class="jumbotron">
      <h6>以下内容是为了展示辅助路由</h6>
      <router-outlet name="aux"></router-outlet>
    </div>
</div>
