/*
* @Author: liyue2018
* @Date:   2018-04-15 15:49:54
* @Last Modified by:   liyue2018
* @Last Modified time: 2018-04-16 10:28:40
*/

.jumbotron{
    .seller-info{
        font-size: 18px;
        color: #f00;
        font-weight: 700;
    }
}